.testimonials-section {
  width: 80%;
  margin: auto;
  background-color: #f9f9f9;
  text-align: center;
  position: relative; /* Needed for buttons positioning */
}

.testimonials-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #333;
}

.mySwiper {
  width: 100%;
  padding-bottom: 3rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.testimonial-card {
  background: #abd4bd;
  height: 350px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s;
  margin: 0 auto; /* Center the cards */
}

.testimonial-card:hover {
  transform: translateY(-5px);
}

.testimonial-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.testimonial-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #111;
}

.testimonial-position {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 1rem;
}

.testimonial-message {
  font-style: italic;
  color: #555;
}

/* Navigation buttons */
.swiper-navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  transform: translateY(-50%);
  padding: 0 10px;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s; /* Added smooth transition */
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #4ebfc0;
}

/* Media Queries for responsiveness */
@media (max-width: 1024px) {
  .testimonial-card {
    max-width: 250px;
  }
}

@media (max-width: 768px) {
  .testimonial-card {
    max-width: 200px;
  }

  .testimonials-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .testimonial-card {
    max-width: 100%;
    padding: 1rem;
  }

  .testimonials-title {
    font-size: 1.2rem;
  }
}

@media (max-width: 412px) {
  .testimonial-card {
    max-width: 100%;
    padding: 1rem;
  }

  .testimonials-title {
    font-size: 1.2rem;
  }
}
