/* General Navbar Styling */
.navbar {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Logo Styling */
.navbar .logo {
    width: 130px;
    margin-left: 20px;
}

/* Navbar Menu */
.navbar-menu {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 18px;
    color: #262f4d;
}

.navbar-menu a {
    text-decoration: none;
    color: #262f4d;
    transition: color 0.3s;
}

.navbar-menu a:hover {
    color: #3674B5;
}

.navbar-menu .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

/* Right Section Styling (Button) */
.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 30px;
}

.navbar-button {
    display: flex;
}
.navbar-button-sidebar{
    display: none;
}

.navbar-button button {
    background: transparent;
    font-size: 16px;
    color: #262f4d;
    border: 1px solid #153448;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar-button button:hover {
    background: #3674B5;
    color: white;
}

/* 📱 Mobile View */
@media (max-width: 768px) {
    .navbar-menu {
        flex-direction: column;
        position: fixed;
        top: 78px;
        right: -100%;
        width: 60%;
        height: 100%;
        bottom: 0;
        background: white;
        box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding-top: 60px;
        transition: right 0.3s ease;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .navbar-menu.show {
        padding:  50px 10px;
        right: 0;
        background-color: #0f172a; /* dark slate background */
    }

    .navbar-menu a {
        border-radius: 9px;
        padding: 10px;
        color: white;
        display: block;
        margin: 5px 0;
        font-size: 20px;
        background-color: #19243d;

    }

    .navbar-menu a:hover {
        color: #63b3ed; /* Light blue on hover */
    }

    /* Hamburger Icon */
    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-right: 20px;
        cursor: pointer;
    }

    .hamburger div {
        width: 25px;
        height: 3px;
        background: #262f4d;
        transition: all 0.3s ease;
    }

    .hamburger.active div:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active div:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active div:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Hide button on mobile */
    .navbar-button {
        display: none;
    }
    .navbar-button-sidebar{
        display: block;
    }
}
