.material-section {
    margin-top: 100px;
    width: 80%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.material-title-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
}

.material-title-item {
    background-color: rgb(50, 147, 212);
    border-radius: 10px;
    text-align: center;
    color: white;
    padding: 15px;
    transition: 0.3s;
}

.material-title-item:hover {
    background-color: darkred;
}

/* Download Section */
.download-material {
    margin-top: 50px;
    width: 100%;
}

.material-heading {
    text-align: center;
}

.download-material-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* background-color: orange; */
    padding: 20px;
    border-radius: 10px;
}

.download-material-item {
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.download-material-item h2,
.download-material-item p {
    padding: 5px;  /* Add padding to both h2 and p */
    margin: 5px 0;
}


/* .download-material-item:hover {
    transform: scale(1.05);
} */


.download-material-item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Optional padding for spacing */
}

.download-material-item-img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-color: green;
    border-radius: 50%;  
    border: 1px solid white;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: darkred;
}

/* Responsive Design */
@media (max-width: 768px) {
    .download-material-items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .download-material-items {
        grid-template-columns: repeat(1, 1fr);
    }
}
